html {
  overflow-y: scroll;
}
body {
    background: #091440;
}

.top-bar {
    width: 100%;
}

.top-bar-logo {
    height: 70px;
}

#chart-container {
    width: 60vw;
    height: 500px;
    background: #1f325f;
}

a {
    font-weight: bold;
    text-decoration: none;
}
a:link,
a:visited {
    color: #69d5f7;
}
a:hover,
a:active {
    color: #e9f8fe;
}

.intro-text > p {
    color: #F9FAFA;
    font-size: 1.1em;
}

.intro-text > h2 {
    color: #F9FAFA;
    margin-bottom: 0;
}

.flex-col {
    width: 360px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.main-wrapper {
    justify-content: space-around;
}

.month-info {
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.month-row {
    align-items: center;
    justify-content: space-around;
    width: 325px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #F9FAFA;
    color: #0e152f;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 18px;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    width: 50%;
    text-align: center;
}
.month {
    width: 50%;
    text-align: center;
}
.lbl-toggle {
    color         : #2970FF;
    font-size     : 2em;
    font-weight: bold;
}

.center-msg {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAFA;
}

.info {
    height: 25px;
    width: 25px;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  cursor: pointer;
}

.lbl-toggle:hover {
  color: #F9FAFA;
}

.lbl-toggle::after {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid currentColor;
  vertical-align: middle;
  margin-left: .7rem;
  transform: translateY(-2px);
}

.toggle:checked + .lbl-toggle::after {
  transform: rotate(270deg);
}

.wrap-collapsible {
    padding-bottom: 5px;
}

.collapsible-content {
  max-height: 0px;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 850px;
  overflow: visible;
}
.tooltip {
    display:inline-block;
}

.tooltip .right {
    padding: 5px;
    font-size: 0.8em;
    color: #0e152f;
    text-align: center;
    white-space: nowrap;
    top: 50%;
    left: 100%;
    margin-left: 15px;
    transform: translate(0, -50%);
    background-color: #F9FAFA;
    font-weight: normal;
    border-radius: 5px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
    display: none;
}

.tooltip:hover .right {
    display: block;
}
