<!DOCTYPE html>
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <head>
        <link rel="stylesheet" type="text/css" href="/css/vendor/normalize-8.0.1.css" />
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

        <script src="/js/vendor/highcharts-7.1.0.js"></script>

        <script type="text/javascript" src="/js/index.js"></script>

        <title>dcrwages</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <header class="top-bar">
            <img class="top-bar-logo" src="/images/decred-logo-transparent-bg-gradient.svg" />
        </header>

        <div class="flex-row main-wrapper">
            
            {{ if not (eq (len $.FullHistory.Years) 0) }}
            <div class="flex-col">
                <div class="intro-text" style="order: -9999;">
                    <p>dcrwages uses data from Poloniex to calculate a monthly average USDT/DCR rate.</p>
                    <p>This rate is used when Decred contractors submit invoices denominated in US Dollars and receive payment in Decred.
                    It is calculated using BTC/DCR and USDT/BTC price information over 15 minute intervals.</p>
                    <h2>Current Month:</h2>
                    <div class="flex-row month-info">
                        <div class="flex-row month-row">
                                <div class="month">
                                    <code>
                                    {{ index $.MonthNames .CurrentMonth }}
                                    </code>
                                </div>
                                <div class="price">
                                    <code>
                                    {{printf "%.2f" (index (index .FullHistory.Years .CurrentYear).Months .CurrentMonth).AveragePrice}}
                                    </code>
                                </div>
                                <div class="usdtdcr">
                                    <code>
                                    USDT/DCR
                                    </code>
                                </div>
                            </div>

                            <div class="btn btn-primary tooltip info">
                                <img class="info" src="/images/info.svg" />
                                <div class="right">
                                    <p>This is the average price for {{ index $.MonthNames .CurrentMonth }} so far. It will update hourly.</p>
                                </div>
                            </div>
                        </div>
                    <p>Monthly rates dating back to June 2016 are provided below. Poloniex does not have BTC/USDT data before this time.</p>
                </div>

                
                {{range $year_id, $year := .FullHistory.Years}}
                                
                <div class="wrap-collapsible" style="order:-{{$year_id}}">
                <input id="collapsible-{{$year_id}}" class="toggle" type="checkbox">
                <label for="collapsible-{{$year_id}}" class="lbl-toggle">{{$year_id}}</label>
                <div class="collapsible-content">
                    {{range $month_id, $month := $year.Months}}
                        {{if and (eq $year_id $.CurrentYear) (eq $month_id $.CurrentMonth)}}
                        {{else}}
                        <div class="flex-row month-row">
                            <div class="month">
                                <code>
                                {{ index $.MonthNames $month_id }}
                                </code>
                            </div>
                            <div class="price">
                                <code>
                                {{ printf "%.2f" $month.AveragePrice }}
                                </code>
                            </div>
                            <div class="usdtdcr">
                                <code>
                                USDT/DCR
                                </code>
                            </div>
                        </div>
                        {{end}}
                    {{end}}
                </div>
                </div>
                {{end}}
            </div>

            {{end}}

            <div id="chart-container">
                {{ if eq (len $.FullHistory.Years) 0 }}
                    <div class="center-msg">
                        dcrwages is initialising....
                    </div>
                {{else}}
                    <noscript>
                        <div class="center-msg">
                            Enable JavaScript to view price chart
                        </div>
                    </noscript>
                {{end}}
            </div>
        </div>

        {{ if not (eq (len $.FullHistory.Years) 0) }}
        <script>
        document.addEventListener('DOMContentLoaded', function () {
            var myChart = Highcharts.chart('chart-container', {
                chart: {
                    zoomType: 'x'
                },
                title: {
                    text: 'USDT/DCR Monthly average'
                },
                subtitle: {
                text: document.ontouchstart === undefined ?
                        'Click and drag to zoom in' : 'Pinch to zoom in'
                },
                xAxis: {
                    categories: [
                        {{range $year_id, $year := .FullHistory.Years}}
                        {{range $month_id, $month := $year.Months}}
                        '{{ printf "%.3s" (index $.MonthNames $month_id) }} {{$year_id}}',
                        {{end}}
                        {{end}}
                    ],
                    labels: {
                        align: 'right',
                        reserveSpace: true,
                        rotation: 290
                    },
                    lineWidth: 0,
                },
                yAxis: {
                    title: {
                        enabled: false
                    },
                    labels: {
                        format: '${value}',
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    headerFormat: '{point.key}<br/>',
                    pointFormat: '<b>{point.y}</b> USDT/DCR'
                },
                series: [{
                    name: 'USDT/DCR',
                    data: [
                        {{range $year_id, $year := .FullHistory.Years}}
                        {{range $month_id, $month := $year.Months}}
                        parseFloat({{ printf "%.2f" $month.AveragePrice }}),
                        {{end}}
                        {{end}}
                    ]
                }]
            });
        });
        </script>
        {{end}}
        
    </body>
</html>