<!DOCTYPE html>
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <head>
        <script type="text/javascript" src="/js/index.js"></script>
        <link rel="stylesheet" href="/css/vendor/normalize-8.0.1.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/fonts.css" />

        <title>dcrwages</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <header class="top-bar">
            <img class="top-bar-logo" src="/images/decred-logo-transparent-bg-gradient.svg" />
        </header>

        <div class="flex-col price-rows">
            {{range $year_id, $year := .FullHistory.Years}}
            {{range $month_id, $month := $year.Months}}
                <div class="flex-row month-row">
                    <div class="month">
                        <code>
                        {{ index $.MonthNames $month_id }}
                        </code>
                    </div>
                    <div class="price">
                        <code>
                        {{ printf "%.2f" $month.AveragePrice }} USDT/DCR
                        </code>
                    </div>
                </div>
            {{end}}
            <div class="flex-row year-row">
                <div class="year" >{{ $year_id }}</div>
            </div>
            {{end}}
        </div>
    </body>
</html>