body {
    background: #091440;
}

.top-bar {
    width: 100%;
}

.top-bar-logo {
    height: 70px;
}

#chart-container {
    width: 60vw;
    height: 400px;
    background: #1f325f;
}

.flex-col {
    display: flex;
    flex-direction: column-reverse;
}

.flex-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.price-rows {
    justify-content: space-between;
    padding-bottom: 30px;
}

.year-row,
.month-row {
    width: 100%;
}

.year-row:not(:last-child) {
    padding-top: 25px;
}

.month-row {
    padding: 10px;
    background: #F9FAFA;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 18px;
}

.price,
.month {
    text-align: center;
}

.year {
    color         : #2970FF;
    font-size     : 2em;
    font-weight: bold;
}

.noscript {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAFA;
}