body {
    background: #091440;
}

.top-bar {
    width: 100%;
}

.top-bar-logo {
    height: 70px;
}

.flex-col {
    display: flex;
    flex-direction: column-reverse;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.price-rows {
    max-width: 400px;
    margin: auto;
    padding-bottom: 30px;
}

.year-row,
.month-row {
    width: 100%;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.year-row:not(:last-child) {
    padding-top: 25px;
}

.month-row {
    padding: 10px;
    background: #F9FAFA;
    margin: 10px;
    border-radius: 10px;
    font-size: 18px;
}

.price,
.month {
    text-align: center;
    width: 50%;
}

.year {
    color         : #2970FF;
    font-size     : 34px;
    font-weight: bold;
}
